.52_230 { 
	overflow:hidden;
}
.e52_230 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e52_231 { 
	background-color:rgba(255, 255, 255, 1);
	width:542px;
	height:1px;
	position:absolute;
	left:634px;
	top:379px;
	background: #FFFFFF;

	border: 1px solid #DEE2E6;
	box-sizing: border-box;
}
.52_231 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e52_232 { 
	background-color:rgba(255, 255, 255, 1);
	width:716px;
	height:1px;
	position:absolute;
	left:634px;
	top:116px;
	background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
box-sizing: border-box;
}
.52_232 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e52_233 { 
	color:rgba(172.12500303983688, 172.12500303983688, 172.12500303983688, 1);
	width:85px;
	height:17px;
	position:absolute;
	left:27px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_234 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:102px;
	height:17px;
	position:absolute;
	left:120px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_235 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:146px;
	height:17px;
	position:absolute;
	left:230px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_236 { 
	color:rgba(0, 0, 0, 1);
	width:390px;
	height:29px;
	position:absolute;
	left:697px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e52_244 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:50px;
	position:absolute;
	left:112px;
	top:133px;
	border-radius:Symbol(figma.mixed)px;
	background: #FFFFFF;
	border: 1px solid #DEE2E6;
	box-sizing: border-box;
	border-radius: 4px 4px 0px 0px;
}
.52_244 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e52_245 { 
	color:rgba(21.000000648200512, 37.00000159442425, 54.00000058114529, 1);
	width:309px;
	height:17px;
	position:absolute;
	left:128px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_246 { 
	background-color:rgba(98.62656533718109, 132.32747375965118, 251.81250303983688, 1);
	width:350px;
	height:50px;
	position:absolute;
	left:112px;
	top:182px;
}
.52_246 { 
	border:1px solid rgba(98.62656533718109, 132.32747375965118, 251.81250303983688, 1);
}
.e52_247 { 
	color:rgba(255, 255, 255, 1);
	width:212px;
	height:17px;
	position:absolute;
	left:128px;
	top:198px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_248 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:50px;
	position:absolute;
	left:112px;
	top:231px;
	background: #FFFFFF;

	border: 1px solid #DEE2E6;
	box-sizing: border-box;
	border-radius: 0px;
}
.52_248 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e52_249 { 
	color:rgba(21.44921824336052, 37.240627482533455, 54.18750151991844, 1);
	width:256px;
	height:17px;
	position:absolute;
	left:128px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;

}
.e52_260 { 
	width:209px;
	height:39px;
	position:absolute;
	left:653px;
	top:402px;
}
.ei52_260_42_3164 { 
	background-color:rgba(33.00000183284283, 136.00000709295273, 56.000000461936, 1);
	width:209px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei52_260_42_3164_42_3162 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	width:177px;
	height:19px;
	left:14px;
	right:10px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e52_284 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:17px;
	position:absolute;
	left:653px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_285 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:17px;
	position:absolute;
	left:653px;
	top:216px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_286 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:17px;
	position:absolute;
	left:654px;
	top:267px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e52_295 { 
	width:267px;
	height:32px;
	position:absolute;
	left:881px;
	top:259px;
}
.ei52_295_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i52_295_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei52_295_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e52_298 { 
	width:267px;
	height:32px;
	position:absolute;
	left:881px;
	top:208px;
}
.ei52_298_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i52_298_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei52_298_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e52_301 { 
	width:267px;
	height:32px;
	position:absolute;
	left:881px;
	top:157px;
}
.ei52_301_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i52_301_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei52_301_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e52_304 { 
	width:144px;
	height:39px;
	position:absolute;
	left:1176px;
	top:155px;
}
.e52_305 { 
	background-color:rgba(35.00000171363354, 39.00000147521496, 43.00000123679638, 1);
	width:144px;
	height:39px;
	position:absolute;
	left:0px;
	top:6px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei52_305_42_3162 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
