.41_183 { 
	overflow:hidden;
}
.e41_183 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e41_187 { 
	position: absolute;
width: 693px;
height: 1px;
left: 693px;
top: 862px;

/* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
box-sizing: border-box;
}
.41_187 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e41_538 { 
	position: absolute;
width: 357px;
height: 1px;
left: 690px;
top: 180px;

/* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
box-sizing: border-box;
}
.41_538 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e41_533 { 
	color:rgba(172.12500303983688, 172.12500303983688, 172.12500303983688, 1);
	width:85px;
	height:17px;
	position:absolute;
	left:27px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e41_534 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:102px;
	height:17px;
	position:absolute;
	left:120px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e41_535 { 
	color:rgba(172.00000494718552, 172.00000494718552, 172.00000494718552, 1);
	width:226px;
	height:17px;
	position:absolute;
	left:230px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e41_536 { 
	color:rgba(0, 0, 0, 1);
	width:390px;
	height:29px;
	position:absolute;
	left:693px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e41_539 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:17px;
	position:absolute;
	left:701px;
	top:224px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e41_540 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:17px;
	position:absolute;
	left:701px;
	top:284px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e41_541 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:17px;
	position:absolute;
	left:701px;
	top:344px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e41_542 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:17px;
	position:absolute;
	left:701px;
	top:404px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e41_543 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:17px;
	position:absolute;
	left:701px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e42_1878 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:17px;
	position:absolute;
	left:701px;
	top:523px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e42_2146 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:17px;
	position:absolute;
	left:701px;
	top:686px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e42_544 { 
	background-color:rgba(98.62656533718109, 132.32747375965118, 251.81250303983688, 1);
	width:350px;
	height:50px;
	position:absolute;
	left:112px;
	top:133px;
	border-radius:Symbol(figma.mixed)px;
}
.42_544 { 
	border:1px solid rgba(98.62656533718109, 132.32747375965118, 251.81250303983688, 1);
}
.e42_545 { 
	color:rgba(255, 255, 255, 1);
	width:309px;
	height:17px;
	position:absolute;
	left:128px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e42_546 { 
	position: absolute;
width: 350px;
height: 50px;
left: 112px;
top: 182px;

/* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
box-sizing: border-box;
border-radius: 0px;
}
.42_546 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e42_547 { 
	color:rgba(21.44921824336052, 37.240627482533455, 54.18750151991844, 1);
	width:212px;
	height:17px;
	position:absolute;
	left:128px;
	top:198px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e42_548 { 
	position: absolute;
width: 350px;
height: 50px;
left: 112px;
top: 231px;

/* /Gray / White */

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
box-sizing: border-box;
border-radius: 0px;
}
.42_548 { 
	border:1px solid rgba(222.00000196695328, 226.0000017285347, 230.00000149011612, 1);
}
.e42_549 { 
	color:rgba(21.44921824336052, 37.240627482533455, 54.18750151991844, 1);
	width:256px;
	height:17px;
	position:absolute;
	left:128px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e42_1116 { 
	width:267px;
	height:32px;
	position:absolute;
	left:839px;
	top:216px;
}
.ei42_1116_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
}
.i42_1116_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei42_1116_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e42_1657 { 
	width:267px;
	height:32px;
	position:absolute;
	left:839px;
	top:276px;
}
.ei42_1657_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i42_1657_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei42_1657_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e42_1660 { 
	width:267px;
	height:32px;
	position:absolute;
	left:839px;
	top:336px;
}
.ei42_1660_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i42_1660_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei42_1660_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e42_1663 { 
	width:267px;
	height:32px;
	position:absolute;
	left:839px;
	top:456px;
}
.ei42_1663_47_3069 { 
	background-color:rgba(255, 255, 255, 1);
	width:267px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.i42_1663_47_3069 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei42_1663_47_3070 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:243px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e42_1638 { 
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:32px;
	position:absolute;
	left:839px;
	top:396px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.42_1638 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei42_1638_34_499 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:212px;
	height:20px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.ei42_1638_34_500 { 
	width:16px;
	height:16px;
	position:absolute;
	left:240px;
	top:8px;
}
.ei42_1638_34_500_11_9933 { 
	background-color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:11px;
	height:6px;
	position:absolute;
	left:2.5px;
	top:5.5px;
}
.e42_2143 { 
	width:470px;
	height:144px;
	position:absolute;
	left:839px;
	top:510px;
}
.e42_2144 { 
	background-color:rgba(255, 255, 255, 1);
	width:470px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.42_2144 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e42_2145 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:437.54144287109375px;
	height:109.6363525390625px;
	position:absolute;
	left:18.176794052124023px;
	top:19.636363983154297px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e42_2147 { 
	background-color:rgba(215.68750709295273, 215.68750709295273, 215.68750709295273, 0.30000001192092896);
	width:530px;
	height:148px;
	position:absolute;
	left:834px;
	top:682px;
}
.e42_2148 { 
	color:rgba(71.18749290704727, 122.65498638153076, 255, 1);
	width:89px;
	height:17px;
	position:absolute;
	left:1010px;
	top:747px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e42_2149 { 
	color:rgba(71.18749290704727, 122.65498638153076, 255, 1);
	width:62px;
	height:17px;
	position:absolute;
	left:1116px;
	top:747px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e42_2171 { 
	width:127px;
	height:127px;
	position:absolute;
	left:857px;
	top:692px;
	background-image:url(https://stepik.org/users/183081375/67a11a9dcd2c7c67f428ed7db7e4d09da242de06/avatar.svg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e42_3163 { 
	width:209px;
	height:39px;
	position:absolute;
	left:712px;
	top:885px;
}
.e42_3164 { 
	background-color:rgba(33.00000183284283, 136.00000709295273, 56.000000461936, 1);
	width:209px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei42_3164_42_3162 { 
	color:rgba(255, 255, 255, 1);
	width:177px;
	height:19px;
	position:absolute;
	left:16px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}