{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/profile">Профиль</a></li>
            <li class="breadcrumb-item active">Настройки</li>
            <li class="breadcrumb-item active">Изменение пароля</li>
            </ol>
            <div class=e52_230>
            <div class="e52_231"></div>
            <div class="e52_232"></div><span  class="e52_233">Профиль / </span><span  class="e52_234">Настройки /</span><span  class="e52_235">Изменить пароль</span><span  class="e52_236">Изменить пароль</span>
            <div class="e52_244"></div><span  class="e52_245">Редактировать информацию</span>
            <div class="e52_246"></div><span  class="e52_247">Изменить пароль</span>
            <div class="e52_248"></div><span  class="e52_249">Предпочитаемый язык</span>
            <div class=e52_260>
              <button type="button" class="btn btn-success">Сохранить изменения</button>
            </div><span  class="e52_284">Текущий пароль</span><span  class="e52_285">Новый пароль</span><span  class="e52_286">Новый пароль (ещё раз)</span>
            <div class=e52_295>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class=e52_298>
              <input type="password" class="form-control" id="exampleInputPassword2">
            </div>
            <div class=e52_301>
              <input type="password" class="form-control" id="exampleInputPassword3">
            </div>
            <div class=e52_304>
              <button type="button" class="btn btn-dark">Восстановить</button>
            </div>
          </div>
{% endblock %}