{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <ul class="breadcrumb-1">
                <li>
                    <a href="/profile"></a>
                </li>
                <li>
                    <span>Настройки</span>
                </li>
                <li>
                    <span>Изменить пароль</span>
                </li>
            </ul>
            <div class=e52_230>
            <div class="e52_231"></div>
            <div class="e52_232"></div><span  class="e52_236">Изменить пароль</span>

            <div class="row">
              <div class="col-4">
                <div class="e54_291 list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="/profile" role="tab" aria-controls="list-profile">Профиль</a>
                  <a class="list-group-item list-group-item-action" id="list-edit-list" data-bs-toggle="list" href="/editpage" role="tab" aria-controls="list-edit">Редактирование профиля</a>
                  <a class="list-group-item list-group-item-action active" id="list-password-list" data-bs-toggle="list" href="/changepass" role="tab" aria-controls="list-password">Изменить пароль</a>
                  <a class="list-group-item list-group-item-action" id="list-language-list" data-bs-toggle="list" href="/language" role="tab" aria-controls="list-language">Предпочитаемый язык</a>
                </div>
              </div>
            </div>

            <div class=e52_260>
              <button type="button" class="btn btn-success">Сохранить изменения</button>
            </div><span  class="e52_284">Текущий пароль</span><span  class="e52_285">Новый пароль</span><span  class="e52_286">Новый пароль (ещё раз)</span>
            <div class=e52_295>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class=e52_298>
              <input type="password" class="form-control" id="exampleInputPassword2">
            </div>
            <div class=e52_301>
              <input type="password" class="form-control" id="exampleInputPassword3">
            </div>
            <div class=e52_304>
              <button type="button" class="btn btn-dark">Восстановить</button>
            </div>
          </div>
{% endblock %}