{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <div class=e41_183>
  <div class="e41_187"></div>
  <div class="e41_538"></div>

  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/profile">Профиль</a></li>
    <li class="breadcrumb-item active">Настройки</li>
    <li class="breadcrumb-item active">Редактирование профиля</li>
  </ol>
</nav>

  <span class="e41_536">Редактирование профиля</span>



  <span  class="e41_539">Ваше имя *</span><span  class="e41_540">Фамилия *</span><span  class="e41_541">Адрес email *</span><span  class="e41_542">Страна</span><span  class="e41_543">Город</span><span  class="e42_1878">Обо мне</span><span  class="e42_2146">Аватарка</span>
  <div class="e42_544"></div><span  class="e42_545">Редактировать информацию</span>
  <div class="e42_546"></div><span  class="e42_547">Изменить пароль</span>
  <div class="e42_548"></div><span  class="e42_549">Предпочитаемый язык</span>
  <div class=e42_1116>
    <input type="text" class="form-control" placeholder="Имя" id="inputDefault">
  </div>
  <div class=e42_1657>
    <input type="text" class="form-control" placeholder="Фамилия" id="inputDefault2">
  </div>
  <div class=e42_1660>
    <input type="text" class="form-control" placeholder="email" id="inputDefault3">
  </div>
  <div class=e42_1663>
    <input type="text" class="form-control" placeholder="Город" id="inputDefault4">
  </div>
  <div class=e42_1638><select class="form-select" id="exampleSelect1">
        <option>Россия</option>
        <option>Украина</option>
        <option>Казахстан</option>
        <option>Беларусь</option>
        <option>Молдовия</option>
      </select>
    <div class=ei42_1638_34_500>
    </div>
  </div>
  <div class=e42_2143>
    <div class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  </div>
  <div class="e42_2147"></div><span  class="e42_2148">Загрузить</span><span  class="e42_2149">Убрать</span>
  <div class="e42_2171"></div>
  <div class=e42_3163>
    <button type="button" onclick="alert" class="btn btn-success">Сохранить изменения</button>
  </div>
</div>
{% endblock %}