{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <div class=e41_183>
  <div class="e41_187"></div>
  <div class="e41_538"></div>

   <ul class="breadcrumb-1">
    <li>
        <a href="/profile"></a>
    </li>
    <li>
        <span>Настройки</span>
    </li>
    <li>
        <span>Редактирование профиля</span>
    </li>
</ul>

  <span class="e41_536">Редактирование профиля</span>



  <span  class="e41_539">Ваше имя *</span><span  class="e41_540">Фамилия *</span><span  class="e41_541">Адрес email *</span><span  class="e41_542">Страна</span><span  class="e41_543">Город</span><span  class="e42_1878">Обо мне</span><span  class="e42_2146">Аватарка</span>
            <div class="row">
              <div class="col-4">
                <div class="e54_291 list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="/profile" role="tab" aria-controls="list-profile">Профиль</a>
                  <a class="list-group-item list-group-item-action active" id="list-edit-list" data-bs-toggle="list" href="/editpage" role="tab" aria-controls="list-edit">Редактирование профиля</a>
                  <a class="list-group-item list-group-item-action" id="list-password-list" data-bs-toggle="list" href="/changepass" role="tab" aria-controls="list-password">Изменить пароль</a>
                  <a class="list-group-item list-group-item-action" id="list-language-list" data-bs-toggle="list" href="/language" role="tab" aria-controls="list-language">Предпочитаемый язык</a>
                </div>
              </div>
            </div>
  <div class=e42_1116>
    <input type="text" class="form-control" placeholder="Имя" id="inputDefault">
  </div>
  <div class=e42_1657>
    <input type="text" class="form-control" placeholder="Фамилия" id="inputDefault2">
  </div>
  <div class=e42_1660>
    <input type="text" class="form-control" placeholder="email" id="inputDefault3">
  </div>
  <div class=e42_1663>
    <input type="text" class="form-control" placeholder="Город" id="inputDefault4">
  </div>
  <div class=e42_1638><select class="form-select" id="exampleSelect1">
        <option>Россия</option>
        <option>Украина</option>
        <option>Казахстан</option>
        <option>Беларусь</option>
        <option>Молдовия</option>
      </select>
    <div class=ei42_1638_34_500>
    </div>
  </div>
  <div class=e42_2143>
    <div class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  </div>
  <div class="e42_2147"></div><span  class="e42_2148">Загрузить</span><span  class="e42_2149">Убрать</span>
  <div class="e42_2171"></div>
  <div class=e42_3163>
    <button type="button" onclick="alert" class="btn btn-success">Сохранить изменения</button>
  </div>
</div>
{% endblock %}