{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

https://avatars.mds.yandex.net/i?id=97b35e289a6c4d691d4bdd71050ac2dd-5859282-images-thumbs&n=13

{% block content %}
{{ super() }}
<div style="background: url(https://images7.alphacoders.com/116/thumb-1920-1168618.jpg)" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">Learning platform</h1>
      <p class="lead mb-0">First attempts to create a learning platform.</p>
    </header>
  </div>
</div>
{% endblock %}
