{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
{{ super() }}
<div class="sidebar">
  <div class="sidebar_header">
    <img class="img_sidebar" alt="pic">
    <div class="label_sidebar">
      <p class="sidebar_header_text">ФИО</p>
      <p class="sidebar_header_text">НОМЕР ГРУППЫ</p>
      <p class="sidebar_header_text">#XXXXXX</p>
    </div>
  </div>
  {%- block menuStrip  -%}
  <nav class="navbar_links">
    <a href="create_course.html" class="navbar_item">Create course</a>
    {% for item in menuItems %}
      <a href="{{ item.item_url }}" class="navbar_item">{{ item.item_name }}</a>
    {% endfor %}
  </nav>
  {% endblock -%}
</div>
{% endblock %}
