{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/profile">Профиль</a></li>
            <li class="breadcrumb-item active">Настройки</li>
            <li class="breadcrumb-item active">Предпочитаемый язык</li>
            </ol>
            <div class=e54_284>
            <div class="e54_285"></div>
            <div class="e54_286"></div><span  class="e54_287">Профиль / </span><span  class="e54_288">Настройки /</span><span  class="e54_289">Предпочитаемый язык
          </span><span  class="e54_290">Предпочитаемый язык</span>
            <div class="e54_291"></div><span  class="e54_292">Редактировать информацию</span>
            <div class="e54_293"></div><span  class="e54_294">Изменить пароль</span>
            <div class="e54_295"></div><span  class="e54_296">Предпочитаемый язык</span>
            <div class=e54_297>
              <button type="button" class="btn btn-success">Сохранить изменения</button>
            </div><span  class="e54_298">Язык</span>
            <div class=e54_319><select class="form-select" id="exampleSelect1">
            <option>Русский</option>
            <option>English</option>
          </select>
              <div class=ei54_319_34_500>
              </div>
            </div>
          </div>
{% endblock %}