{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
{{ super() }}

{% if is_submitted%}
    <div class="container">
       <!--  {% for message in get_flashed_messages() %}
                <div class="mb-2 alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}

        {% for error in form.errors %}
            {% for message in form.errors[error] %}
                <div class="mb-3 alert alert-warning alert-dismissible fade show " role="alert">
                     {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %} -->


    </div>
{% endif %}

<div id="main-content">
    <div class="login_form">
    <div class="main_login_title">mems.petrsu.ru 🎓</div>
    <div class="sub_login_title">Модульная система управления обучением</div>
    <form  action="/login" method="POST" class="form-signin">
        {{ form.hidden_tag() }}
        <label for="email" class="form_title">Логин</label><br>
        {{form.email(class="input_field", placeholder="Логин")}}<br>
        <label for="password" class="form_title">Пароль</label><br>
        {{form.password(class="input_field", placeholder="Пароль")}}<br>
        {{form.submit(class="login_submit_btn")}}
    </form>


    </div>
</div>
{% endblock %}
