<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block content -%}

         <header class="header">
            <div class="first_part">
                <div class="header_content">
                    <p class="main-title">mems.petrsu.ru</p>
                    <p class="logo">🎓</p>
                    <p class="sub-title"> Модульная система управления обучением </p>
                </div>
            </div>
            <div class="second_part">
                <div class="nav">
                    <div class="header_menu_item"></div>
                    <div class="header_menu_item"></div>
                    <div class="header_menu_item"></div>
                    <button type="button" id="btn">button</button>
                </div>
            </div>
        </header>



        <header class="p-3 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
<!--                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
                </a>
                {%- block menuStrip  -%}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        {% for item in menuItems %}
                            <li><a href="{{ item.item_url }}" class="nav-link px-2 text-white">{{ item.item_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock -%}

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                  <input type="search" class="form-control fapp.config['SQLALCHEMY TRACK_MODIFICATIONS'] = Falseorm-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout')}}" class="btn btn-outline-light me-2">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login')}}" class="btn btn-outline-light me-2">Login</a>
                        <a href="{{ url_for('signup')}}" class="btn btn-warning">Sign-up</a>
                    {% endif %}
<!--                  <button type="button" class="btn btn-outline-light me-2">Login</button>-->
                </div>
              </div>
            </div>
        </header>

    {% endblock -%}

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <!--<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>-->
  </footer>
</div>

</body>
</html>