{% extends 'base.html' %}

{% block title %}
BLOCK TITLE
{% endblock %}

{% block body %}
            <div class=e30_8>
  <div class="e2_2"></div>
  <div class="e35_34"></div>
  <div class="e35_36"></div>
  <div class="e35_38"></div>
  <div class="e35_35"></div>
  <div class="e30_9"></div><span  class="e3_34">Имя студента</span><span  class="e3_37">Текущий день</span><span  class="e3_39">Следующий день</span>
  <div class="e3_44"></div>
  <div class="e3_45"></div>
  <div class="e30_10"></div>
  <div class="e30_11"></div>
  <div class="e3_48"></div>
  <div class="e3_234"></div><span  class="e10_314">сент</span><span  class="e10_315">окт</span><span  class="e10_316">нояб</span><span  class="e10_317">дек</span><span  class="e10_318">янв</span><span  class="e10_319">фев</span><span  class="e10_320">март</span><span  class="e10_321">апр</span><span  class="e10_322">май</span><span  class="e10_323">июнь</span>
  <div class="e5_8"></div>
  <div class="e5_9"></div>
  <div class="e5_10"></div>
  <div class="e5_11"></div>
  <div class="e8_14"></div><span  class="e8_18">Задание</span><span  class="e8_19">Задание</span><span  class="e8_20">Задание</span><span  class="e8_21">Задание</span>
  <div class="dropdown">
  <div class="e10_26"></div>
  <div class="dropdown-content">
  <a href="#">Тест</a>
  <a href="#">Лекция</a>
  <p>01.09.2022</p>
  </div>
  </div>
  <div class="e10_27"></div>
  <div class="e10_28"></div>
  <div class="e10_29"></div>
  <div class="e10_30"></div>
  <div class="e10_31"></div>
  <div class="e10_32"></div>
  <div class="e10_33"></div>
  <div class="e10_34"></div>
  <div class="e10_35"></div>
  <div class="e10_36"></div>
  <div class="e10_37"></div>
  <div class="e10_38"></div>
  <div class="e10_39"></div>
  <div class="e10_40"></div>
  <div class="e10_41"></div>
  <div class="e10_42"></div>
  <div class="e10_43"></div>
  <div class="e10_44"></div>
  <div class="e10_45"></div>
  <div class="e10_46"></div>
  <div class="e10_47"></div>
  <div class="e10_48"></div>
  <div class="e10_49"></div>
  <div class="e10_50"></div>
  <div class="e10_51"></div>
  <div class="e10_52"></div>
  <div class="e10_53"></div>
  <div class="e10_54"></div>
  <div class="e10_55"></div>
  <div class="e10_56"></div>
  <div class="e10_57"></div>
  <div class="e10_58"></div>
  <div class="e10_59"></div>
  <div class="e10_60"></div>
  <div class="e10_61"></div>
  <div class="e10_62"></div>
  <div class="e10_63"></div>
  <div class="e10_64"></div>
  <div class="e10_65"></div>
  <div class="e10_66"></div>
  <div class="e10_67"></div>
  <div class="e10_68"></div>
  <div class="e10_69"></div>
  <div class="e10_70"></div>
  <div class="e10_71"></div>
  <div class="e10_72"></div>
  <div class="e10_73"></div>
  <div class="e10_74"></div>
  <div class="e10_75"></div>
  <div class="e10_76"></div>
  <div class="e10_77"></div>
  <div class="e10_78"></div>
  <div class="e10_79"></div>
  <div class="e10_80"></div>
  <div class="e10_81"></div>
  <div class="e10_82"></div>
  <div class="e10_83"></div>
  <div class="e10_84"></div>
  <div class="e10_85"></div>
  <div class="e10_86"></div>
  <div class="e10_87"></div>
  <div class="e10_88"></div>
  <div class="e10_89"></div>
  <div class="e10_90"></div>
  <div class="e10_91"></div>
  <div class="e10_92"></div>
  <div class="e10_93"></div>
  <div class="e10_94"></div>
  <div class="e10_95"></div>
  <div class="e10_96"></div>
  <div class="e10_97"></div>
  <div class="e10_98"></div>
  <div class="e10_99"></div>
  <div class="e10_100"></div>
  <div class="e10_101"></div>
  <div class="e10_102"></div>
  <div class="e10_103"></div>
  <div class="e10_104"></div>
  <div class="e10_105"></div>
  <div class="e10_106"></div>
  <div class="e10_107"></div>
  <div class="e10_108"></div>
  <div class="e10_109"></div>
  <div class="e10_110"></div>
  <div class="e10_111"></div>
  <div class="e10_112"></div>
  <div class="e10_113"></div>
  <div class="e10_114"></div>
  <div class="e10_115"></div>
  <div class="e10_116"></div>
  <div class="e10_117"></div>
  <div class="e10_118"></div>
  <div class="e10_119"></div>
  <div class="e10_120"></div>
  <div class="e10_121"></div>
  <div class="e10_122"></div>
  <div class="e10_123"></div>
  <div class="e10_124"></div>
  <div class="e10_125"></div>
  <div class="e10_126"></div>
  <div class="e10_127"></div>
  <div class="e10_128"></div>
  <div class="e10_129"></div>
  <div class="e10_130"></div>
  <div class="e10_131"></div>
  <div class="e10_132"></div>
  <div class="e10_133"></div>
  <div class="e10_134"></div>
  <div class="e10_135"></div>
  <div class="e10_136"></div>
  <div class="e10_137"></div>
  <div class="e10_138"></div>
  <div class="e10_139"></div>
  <div class="e10_140"></div>
  <div class="e10_141"></div>
  <div class="e10_142"></div>
  <div class="e10_143"></div>
  <div class="e10_144"></div>
  <div class="e10_145"></div>
  <div class="e10_146"></div>
  <div class="e10_147"></div>
  <div class="e10_148"></div>
  <div class="e10_149"></div>
  <div class="e10_150"></div>
  <div class="e10_151"></div>
  <div class="e10_152"></div>
  <div class="e10_153"></div>
  <div class="e10_154"></div>
  <div class="e10_155"></div>
  <div class="e10_156"></div>
  <div class="e10_157"></div>
  <div class="e10_158"></div>
  <div class="e10_159"></div>
  <div class="e10_160"></div>
  <div class="e10_161"></div>
  <div class="e10_162"></div>
  <div class="e10_163"></div>
  <div class="e10_164"></div>
  <div class="e10_165"></div>
  <div class="e10_166"></div>
  <div class="e10_167"></div>
  <div class="e10_168"></div>
  <div class="e10_169"></div>
  <div class="e10_170"></div>
  <div class="e10_171"></div>
  <div class="e10_172"></div>
  <div class="e10_173"></div>
  <div class="e10_174"></div>
  <div class="e10_175"></div>
  <div class="e10_176"></div>
  <div class="e10_177"></div>
  <div class="e10_178"></div>
  <div class="e10_179"></div>
  <div class="e10_180"></div>
  <div class="e10_181"></div>
  <div class="e10_182"></div>
  <div class="e10_183"></div>
  <div class="e10_184"></div>
  <div class="e10_185"></div>
  <div class="e10_186"></div>
  <div class="e10_187"></div>
  <div class="e10_188"></div>
  <div class="e10_189"></div>
  <div class="e10_190"></div>
  <div class="e10_191"></div>
  <div class="e10_192"></div>
  <div class="e10_193"></div>
  <div class="e10_194"></div>
  <div class="e10_195"></div>
  <div class="e10_196"></div>
  <div class="e10_197"></div>
  <div class="e10_198"></div>
  <div class="e10_199"></div>
  <div class="e10_200"></div>
  <div class="e10_201"></div>
  <div class="e10_202"></div>
  <div class="e10_203"></div>
  <div class="e10_204"></div>
  <div class="e10_205"></div>
  <div class="e10_206"></div>
  <div class="e10_207"></div>
  <div class="e10_208"></div>
  <div class="e10_209"></div>
  <div class="e10_210"></div>
  <div class="e10_211"></div>
  <div class="e10_212"></div>
  <div class="e10_213"></div>
  <div class="e10_214"></div>
  <div class="e10_215"></div>
  <div class="e10_216"></div>
  <div class="e10_217"></div>
  <div class="e10_218"></div>
  <div class="e10_219"></div>
  <div class="e10_220"></div>
  <div class="e10_221"></div>
  <div class="e10_222"></div>
  <div class="e10_223"></div>
  <div class="e10_224"></div>
  <div class="e10_225"></div>
  <div class="e10_226"></div>
  <div class="e10_227"></div>
  <div class="e10_228"></div>
  <div class="e10_229"></div>
  <div class="e10_230"></div>
  <div class="e10_231"></div>
  <div class="e10_232"></div>
  <div class="e10_233"></div>
  <div class="e10_234"></div>
  <div class="e10_235"></div>
  <div class="e10_236"></div>
  <div class="e10_237"></div>
  <div class="e10_238"></div>
  <div class="e10_239"></div>
  <div class="e10_240"></div>
  <div class="e10_241"></div>
  <div class="e10_242"></div>
  <div class="e10_243"></div>
  <div class="e10_244"></div>
  <div class="e10_245"></div>
  <div class="e10_246"></div>
  <div class="e10_247"></div>
  <div class="e10_248"></div>
  <div class="e10_249"></div>
  <div class="e10_250"></div>
  <div class="e10_251"></div>
  <div class="e10_252"></div>
  <div class="e10_253"></div>
  <div class="e10_254"></div>
  <div class="e10_255"></div>
  <div class="e10_256"></div>
  <div class="e10_257"></div>
  <div class="e10_258"></div>
  <div class="e10_259"></div>
  <div class="e10_260"></div>
  <div class="e10_261"></div>
  <div class="e10_262"></div>
  <div class="e10_263"></div>
  <div class="e10_264"></div>
  <div class="e10_265"></div>
  <div class="e10_266"></div>
  <div class="e10_267"></div>
  <div class="e10_268"></div>
  <div class="e10_269"></div>
  <div class="e10_270"></div>
  <div class="e10_271"></div>
  <div class="e10_272"></div>
  <div class="e10_273"></div>
  <div class="e10_274"></div>
  <div class="e10_275"></div>
  <div class="e10_276"></div>
  <div class="e10_277"></div>
  <div class="e10_278"></div>
  <div class="e10_279"></div>
  <div class="e10_280"></div>
  <div class="e10_281"></div>
  <div class="e10_282"></div>
  <div class="e10_283"></div>
  <div class="e10_284"></div>
  <div class="e10_285"></div>
  <div class="e10_286"></div>
  <div class="e10_287"></div>
  <div class="e10_288"></div>
  <div class="e10_289"></div>
  <div class="e10_290"></div>
  <div class="e10_291"></div>
  <div class="e10_292"></div>
  <div class="e10_293"></div>
  <div class="e10_294"></div>
  <div class="e10_295"></div>
  <div class="e10_296"></div>
  <div class="e10_297"></div>
  <div class="e10_298"></div>
  <div class="e10_299"></div>
  <div class="e10_300"></div>
  <div class="e10_301"></div>
  <div class="e10_302"></div>
  <div class="e10_303"></div>
  <div class="e10_304"></div>
  <div class="e10_305"></div>
  <div class="e10_306"></div>
  <div class="e10_307"></div>
  <div class="e10_308"></div>
  <div class="e10_309"></div>
  <div class="e10_310"></div>
  <div class="e10_311"></div>
  <div class="e10_312"></div>
  <div class="e10_324"></div>
  <div class="e10_325"></div>
  <div class="e10_326"></div>
  <div class="e10_327"></div>
  <div class="e10_338"></div>
  <div class="e10_339"></div>
  <div class="e10_328"></div>
  <div class="e10_329"></div>
  <div class="e10_330"></div>
  <div class="e10_331"></div>
  <div class="e10_332"></div>
  <div class="e10_333"></div>
  <div class="e10_334"></div>
  <div class="e10_335"></div>
  <div class="e10_336"></div>
  <div class="e10_337"></div>
  <div class="e35_24"></div><a href="/profile"  class="e35_25">Профиль</a>
  <div class="e35_26"></div><a href="/courses" class="e35_27">Курсы</a>
  <div class="e35_28"></div><a href="/editpage" class="e35_29">Настройки</a>

  <div class="e35_30"></div><span  class="e35_31">Активность за последний год</span><span  class="e35_39">User ID: 1</span>
  <div class="e35_41"></div>
  <div class="e35_44"></div>
  <div class="e35_42"></div>
  <div class="userline"></div>
  <div class="nameline"></div>
  <div class="thisday"></div>
  <div class="nextday"></div>
  <div class="activityline"></div>
</div>

{% endblock %}