{% extends 'base.html' %}

{% block title %}
SIGN UP TITLE
{% endblock %}

{% block css_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/simple-scrollbar.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/register.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/simplepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/base_elements.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/flatpickr.min.css')}}">
<script src="{{ url_for('static', filename='js/flatpickr.js')}}"></script>
<script src="{{ url_for('static', filename='js/smooth-scrollbar.js')}}"></script>
<script src="{{ url_for('static', filename='js//overscroll.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplepicker.js')}}"></script>
<script src="{{ url_for('static', filename='js/ru.js')}}"></script>
{% endblock %}

{% block content %}
{{ super() }}

{% if is_submitted%}
        {% for message in get_flashed_messages() %}
              {{ message }}
        {% endfor %}

        {% for error in signup_form.errors %}
            {% for message in signup_form.errors[error] %}
                     {{ message }}
            {% endfor %}
        {% endfor %}
{% endif %}
{% if is_successful %}

<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://media.giphy.com/media/aWRWTF27ilPzy/giphy.mp4" type="video/mp4">
</video>
<h1> Hello, {{ signup_user.name}} </h1>
<p >Your email: {{ signup_user.e_mail }}, and your password is {{ signup_user.password_hash }}, oh thats is joke (¬‿¬ ) </p>
<p >Back to  <a href="{{ url_for('index')}}"><u>main page</u></a></p>

{% else %}
    <div class="main">
		<div class="register-wrap">
			<div class="greeting-slides-wrap">
				<!-- Здесь слайдеры с карточками, пока как svg -->
				<img src="../img/slider.svg" alt="greeting-slider">
			</div>
			<div class="register-part-wrap">

				<div class="registation-label-wrap">
					<p class="label-register">Регистрация</p>
					<p class="mems-label">Модульная система управления обучением</p>
					<p class="have-acc">
						У меня уже есть аккаунт
						<a href="login.html">вернуться на страницу входа</a>
					</p>
				</div>

                <section id="scroll" data-scrollbar>
                    <form id="form_id" action="/signup" method="POST">
                    {{ signup_form.hidden_tag() }}
                        <div class="memsui--form--container">
                            <div class="memsui--row">
                                  <div>
                                  <label for="name">Поле 1</label>
                                  <div class="memsui--row"
                                  	style="flex-wrap: nowrap; gap: 0;">
                                      <input type="text" id="name" placeholder="Введите текст" name="user_name" class="memsui--input--with--icon">
                              			<div class="memsui--input--icon"></div>
                                  </div>
                                  </div>
                            </div>

                            <script type="text/javascript">
                            		let calendar = flatpickr("#name", {
                            			 "locale": "ru",
                            		    altInput: true,
                            		    altFormat: "F j, Y",
                            		    dateFormat: "Y-m-d",
                            		});

                            		let icon = document.querySelector('.memsui--input--icon')
                            		 icon.addEventListener("click", () => {
                                   event.preventDefault();
                                   calendar.open();
                                  });
                            </script>

                            <div>
                              {{ signup_form.email.label }}
                              {{ signup_form.email }}
                            </div>

                            <div>
                              {{ signup_form.password_hash.label }}
                              {{ signup_form.password_hash }}
                            </div>

                            <div>
                              {{ signup_form.first_name.label }}
                              {{ signup_form.first_name }}
                            </div>

                            <div>
                              {{ signup_form.last_name.label }}
                              {{ signup_form.last_name }}
                            </div>

                            <div>
                              {{ signup_form.username.label }}
                              {{ signup_form.username }}
                            </div>

                            <div>
                              {{ signup_form.last_name.label }}
                              {{ signup_form.last_name }}
                            </div>
                            <div>
                            {{ signup_form.gender.label }} {{ signup_form.gender }}
                            </div>



                            <div class="memsui--row">
                                {% for answer in signup_form.gender %}
                                    <div class="memsui--row">
                                      {{ answer.label(id='radio +" "+ answer.id')}}
                                      {{ answer(class='memesui--controls--radio') }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div>
                              {{ signup_form.date_of_birth.label }}
                              {{ signup_form.date_of_birth }}
                              {% if signup_form.date_of_birth.errors %}
                                <ul class="errors">
                                    {% for error in signup_form.date_of_birth.errors %} 
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                              {% endif %}
                            </div>

                            <div>
                              {{ signup_form.country.label }}
                              {{ signup_form.country }}
                            </div>

                            <div>
                              {{ signup_form.city.label }}
                              {{ signup_form.city }}
                            </div>

                            <div>
                              {{ signup_form.phone_number.label }}
                              {{ signup_form.phone_number }}
                              {% if signup_form.phone_number.errors %}
                                <ul class="errors">
                                    {% for error in signup_form.phone_number.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                              {% endif %}
                            </div>

                              
                            <div class="memesui--controls--custom-select_container">
                                <div class="memesui--controls--custom-select">
                                    <!-- Just create standart select here! -->
                                    {{ signup_form.role_id }}
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
				<div class="memsui--button--form--container">
                    {{ signup_form.submit(class='memsui--button', form='form_id') }}
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
	</div>
	<!-- <script src="../js/burger.js"></script> -->
	<!-- <script src="../js/simplebar.js"></script> -->
	<script>
		var Scrollbar = window.Scrollbar;
		Scrollbar.use(window.OverscrollPlugin)
		const scrollbar = Scrollbar.init(document.querySelector('#scroll'),{
			damping: 0.1,
			alwaysShowTracks: true,
			plugins: {
				overscroll:{
					effect:'glow',
					glowColor: '#BFC3C6',
					maxOverscroll: 100
				},
		 },
		});
		scrollbar.addListener((scrollEvent) => {
		  calendar.close();
		});
	</script>
  </form>
{% endif %}
{% endblock %}

