{% extends 'base.html' %}

{% block title %}
ABOUT TITLE
{% endblock %}

{% block content %}
{{ super() }}

  <form action="/signup" method="POST" class="form-signin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="mb-2 img-responsive center-block d-block mx-auto" src="http://www.arhiv-vologda.ru/upload/1573475258.jpg" alt="" width="70" height="70">
                </div>
            </div>
        </div>

        <h1 class="h3 mb-3 fw-normal text-center">Sign up</h1>

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            <label>Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="password"  class="form-control" id="password" placeholder="Password">
            <label>Password</label>
        </div>


        {{ form.role_id(class="form-select mb-3") }}
            {% for error in form.role_id.errors  %}
                 <h1 class="h3 mb-3 fw-normal text-center">{{ error }}</h1>
            {% endfor %}

        <!--<select class="form-select mb-3" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  </form>
{% endblock %}
