{% extends 'base.html' %}

{% block title %}
SIGN UP TITLE
{% endblock %}

{% block content %}
{{ super() }}

        <h1>Hello, {{ current_user.name}} </h1>
        <p>Your email: {{ current_user.e_mail }}, and your password is {{ current_user.password_hash }}, oh thats is joke (¬‿¬ ) </p>
        <p>Back to  <a href="{{ url_for('index')}}">
                    <u>main page</u></a>
        </p>
		{% for el in user_courses %}
                            <p>{{ el.title }} <a href="/courses/{{ el.id }}" id="btn_about_course">Подробнее</a>
                                Date: {{ el.date_added }} </p>
		{% endfor %}

{% endblock %}

